<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="100" shutdownHook="disable">

    <properties>
        <property name="LOG_HOME">log</property>
        <property name="ERROR_LOG_FILE_NAME">error.log</property>
		<property name="WARN_LOG_FILE_NAME">warn.log</property>
		<property name="INFO_LOG_FILE_NAME">info.log</property>
		<property name="DEBUG_LOG_FILE_NAME">debug.log</property>
		<property name="TASK_TIME_LOG_FILE_NAME">taskTime.log</property>
        <property name="CHECK_MYSQL_CONNECTIONS_POOL">sqlConnection.log</property>
        <property name="OPEN_AND_CLOSE">openAndCloseServer.log</property>
		<property name="DATASOURCE_STAT_LOG_FILE_NAME">dataSourceStat.log</property>
		<property name="SQL_LOG_FILE_NAME">sql.log</property>
		<property name="COMMAND_TIME_LOG_FILE_NAME">commandTime.log</property>
        <property name="REQUIRE_AND_RESPONSE_LOG_FILE_NAME">requireAndResponse.log</property>
		<property name="THREAD_LOG_FILE_NAME">thread.log</property>
		<property name="MONITOR_LOG_FILE_NAME">monitor.log</property>
<!--        <property name="DATA_PATH">dataLog</property>-->
<!--        <property name="DATA_CASH_FILE_NAME">cash.log</property>-->
<!--        <property name="DATA_CHAT_FILE_NAME">chat.log</property>-->
<!--        <property name="DATA_LOGIN_FILE_NAME">login.log</property>-->
<!--        <property name="DATA_LOGOUT_FILE_NAME">logout.log</property>-->
<!--        <property name="DATA_CHARGE_FILE_NAME">charge.log</property>-->
<!--        <property name="DATA_TASK_FILE_NAME">task.log</property>-->
        <property name="FULL_GC_LOG_FILE_NAME">fullGc.log</property>
        <!--   标准输出日志    -->
        <property name="STDOUT_LOG_FILE_NAME">stdout.log</property>


		<property name="FILE_PATTERN">zip-log/%d{yyyyMMddHHmmss}.gz</property>
		<property name="LAYOUT_PATTERN">%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n</property>
		<!--
		<property name="LAYOUT_PATTERN">%-5p:%d-%c-%-2r[%t]%x%n%m %n</property>
		-->
		<property name="FILE_SIZE">500 MB</property>
    </properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${LAYOUT_PATTERN}" />
        </Console>

        <RollingFile name="STDOUT" fileName="${LOG_HOME}/${STDOUT_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${STDOUT_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Filters>
                <!--  只输出Error以下等级的信息  -->
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
            <Policies>
                <!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

		<RollingFile name="DEBUG" fileName="${LOG_HOME}/${DEBUG_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${DEBUG_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
            	<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            	<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
            	<!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

		<RollingFile name="WARN" fileName="${LOG_HOME}/${WARN_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${WARN_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
            	<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
			<Policies>
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

		<RollingFile name="ERROR" fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
			<Policies>
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="TASK_TIME" fileName="${LOG_HOME}/${TASK_TIME_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${TASK_TIME_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
            	<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            	<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
            	<!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="MYSQL_CONNECTIONS" fileName="${LOG_HOME}/${CHECK_MYSQL_CONNECTIONS_POOL}" filePattern="${LOG_HOME}/${CHECK_MYSQL_CONNECTIONS_POOL}.${FILE_PATTERN}" append="true">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="OPEN_AND_CLOSE" fileName="${LOG_HOME}/${OPEN_AND_CLOSE}" filePattern="${LOG_HOME}/${OPEN_AND_CLOSE}.${FILE_PATTERN}" append="true">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

         <RollingFile name="MONITOR" fileName="${LOG_HOME}/${MONITOR_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${MONITOR_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
            	<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            	<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
            	<!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>


         <RollingFile name="DATASOURCE_STAT" fileName="${LOG_HOME}/${DATASOURCE_STAT_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${DATASOURCE_STAT_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
            	<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            	<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
            	<!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

         <RollingFile name="COMMAND_TIME" fileName="${LOG_HOME}/${COMMAND_TIME_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${COMMAND_TIME_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
<!--            	<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>-->
            	<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
            	<!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="REQUIRE_AND_RESPONSE" fileName="${LOG_HOME}/${REQUIRE_AND_RESPONSE_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${REQUIRE_AND_RESPONSE_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

         <RollingFile name="SQL" fileName="${LOG_HOME}/${SQL_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${SQL_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
            	<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            	<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
            	<!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="THREAD" fileName="${LOG_HOME}/${THREAD_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${THREAD_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
            	<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            	<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%msg%n"/>
            <Policies>
            	<!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
            	<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

<!--        <RollingFile name="DATA_CASH" fileName="${LOG_HOME}/${DATA_PATH}/${DATA_CASH_FILE_NAME}" filePattern="${LOG_HOME}/${DATA_PATH}/${DATA_CASH_FILE_NAME}.${FILE_PATTERN}" append="true">-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            <PatternLayout pattern="%msg%n"/>-->
<!--            <Policies>-->
<!--                &lt;!&ndash; TimeBasedTriggeringPolicy modulate="true" interval="24" /&ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20"/>-->
<!--        </RollingFile>-->

<!--        <RollingFile name="DATA_CHAT" fileName="${LOG_HOME}/${DATA_PATH}/${DATA_CHAT_FILE_NAME}" filePattern="${LOG_HOME}/${DATA_PATH}/${DATA_CHAT_FILE_NAME}.${FILE_PATTERN}" append="true">-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            <PatternLayout pattern="%msg%n"/>-->
<!--            <Policies>-->
<!--                &lt;!&ndash; TimeBasedTriggeringPolicy modulate="true" interval="24" /&ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20"/>-->
<!--        </RollingFile>-->

<!--        <RollingFile name="DATA_LOGIN" fileName="${LOG_HOME}/${DATA_PATH}/${DATA_LOGIN_FILE_NAME}" filePattern="${LOG_HOME}/${DATA_PATH}/${DATA_LOGIN_FILE_NAME}.${FILE_PATTERN}" append="true">-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            <PatternLayout pattern="%msg%n"/>-->
<!--            <Policies>-->
<!--                &lt;!&ndash; TimeBasedTriggeringPolicy modulate="true" interval="24" /&ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20"/>-->
<!--        </RollingFile>-->

<!--        <RollingFile name="DATA_LOGOUT" fileName="${LOG_HOME}/${DATA_PATH}/${DATA_LOGOUT_FILE_NAME}" filePattern="${LOG_HOME}/${DATA_PATH}/${DATA_LOGOUT_FILE_NAME}.${FILE_PATTERN}" append="true">-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            <PatternLayout pattern="%msg%n"/>-->
<!--            <Policies>-->
<!--                &lt;!&ndash; TimeBasedTriggeringPolicy modulate="true" interval="24" /&ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20"/>-->
<!--        </RollingFile>-->

<!--        <RollingFile name="DATA_CHARGE" fileName="${LOG_HOME}/${DATA_PATH}/${DATA_CHARGE_FILE_NAME}" filePattern="${LOG_HOME}/${DATA_PATH}/${DATA_CHARGE_FILE_NAME}.${FILE_PATTERN}" append="true">-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            <PatternLayout pattern="%msg%n"/>-->
<!--            <Policies>-->
<!--                &lt;!&ndash; TimeBasedTriggeringPolicy modulate="true" interval="24" /&ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20"/>-->
<!--        </RollingFile>-->

<!--        <RollingFile name="DATA_TASK" fileName="${LOG_HOME}/${DATA_PATH}/${DATA_TASK_FILE_NAME}" filePattern="${LOG_HOME}/${DATA_PATH}/${DATA_TASK_FILE_NAME}.${FILE_PATTERN}" append="true">-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            <PatternLayout pattern="%msg%n"/>-->
<!--            <Policies>-->
<!--                &lt;!&ndash; TimeBasedTriggeringPolicy modulate="true" interval="24" /&ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20"/>-->
<!--        </RollingFile>-->


        <RollingFile name="FULL_GC" fileName="${LOG_HOME}/${FULL_GC_LOG_FILE_NAME}" filePattern="${LOG_HOME}/${FULL_GC_LOG_FILE_NAME}.${FILE_PATTERN}" append="true">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
                <!-- TimeBasedTriggeringPolicy modulate="true" interval="24" /-->
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>


    <Loggers>

        <logger name="OPEN_AND_CLOSE" level="debug" additivity="true">
            <appender-ref ref="OPEN_AND_CLOSE"/>
        </logger>

        <logger name="MYSQL_CONNECTIONS" level="debug" additivity="true">
            <appender-ref ref="MYSQL_CONNECTIONS"/>
        </logger>

        <logger name="fullGc" level="info" additivity="true">
            <appender-ref ref="FULL_GC"/>
        </logger>

        <logger name="TASK_TIME" level="debug" additivity="true">
            <appender-ref ref="TASK_TIME"/>
        </logger>

        <logger name="MONITOR"   level="debug" additivity="true">
            <appender-ref ref="MONITOR"/>
        </logger>

        <logger name="com.alibaba.druid.pool.DruidDataSourceStatLoggerImpl" level="debug" additivity="false">
            <appender-ref ref="DATASOURCE_STAT"/>
        </logger>

        <logger name="DATASOURCE_STAT" level="debug" additivity="false">
            <appender-ref ref="DATASOURCE_STAT"/>
        </logger>

        <logger name="com.alibaba.druid.pool.PreparedStatementPool" level="info"  />

        <logger name="druid.sql" level="debug" additivity="false">
            <appender-ref ref="SQL"/>
        </logger>

        <logger name="com.yanqu.road.utils.monitor.MonitorHelper" level="debug" additivity="false">
            <appender-ref ref="MONITOR"/>
        </logger>

        <logger name="COMMAND_TIME" level="debug" additivity="false">
            <appender-ref ref="COMMAND_TIME"/>
        </logger>

        <logger name="REQUIRE_AND_RESPONSE" level="debug" additivity="false">
            <appender-ref ref="REQUIRE_AND_RESPONSE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="THREAD" level="debug" additivity="true">
            <appender-ref ref="THREAD"/>
        </logger>

<!--        <logger name="CASH" level="debug" additivity="true">-->
<!--            <appender-ref ref="DATA_CASH"/>-->
<!--        </logger>-->

<!--        <logger name="CHAT" level="debug" additivity="true">-->
<!--            <appender-ref ref="DATA_CHAT"/>-->
<!--        </logger>-->

<!--        <logger name="LOGIN" level="debug" additivity="true">-->
<!--            <appender-ref ref="DATA_LOGIN"/>-->
<!--        </logger>-->

<!--        <logger name="LOGOUT" level="debug" additivity="true">-->
<!--            <appender-ref ref="DATA_LOGOUT"/>-->
<!--        </logger>-->

<!--        <logger name="CHARGE" level="debug" additivity="true">-->
<!--            <appender-ref ref="DATA_CHARGE"/>-->
<!--        </logger>-->

<!--        <logger name="TASK" level="debug" additivity="true">-->
<!--            <appender-ref ref="DATA_TASK"/>-->
<!--        </logger>-->

        <root level="debug" includeLocation="true" additivity="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DEBUG"/>
            <appender-ref ref="WARN"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </Loggers>

</Configuration>
